extends layout

block content
  .row
    .col-sm-12
      #adv-search.input-group
        .input-group-btn
          form(method='GET')
            .form-group
              input.form-control(type='text', placeholder='Search shoes', name='fast_search', value='')
            button.btn.btn-primary(type='submit')
              <i class="fa fa-search" aria-hidden="true"></i>

          .dropdown.dropdown-lg
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Refine my search
            .dropdown-menu.dropdown-menu-right(role='menu')
              form.form-horizontal(method='GET')
                .form-group
                  label(for='brands') Brand
                  input.form-control(type="text" name="brand")
                .form-group
                  label(for='gender') Gender
                  input(type='radio', name='gender', value='male')
                  |  Male
                  input(type='radio', name='gender', value='female')
                  |  Female
                  input(type='radio', name='gender', value='other', checked)
                  |  Both
                .form-group
                  label(for='contain') Size
                  input.form-control(type='number' name='size' min = "0")
                .form-group
                  label(for='contain') Your maximum budget per day
                  input.form-control(type='number' name ='budget' min = "0")
                button.btn.btn-primary(type='submit')
                  <i class="fa fa-search" aria-hidden="true"></i>


  h3 Last ads
  if ads.length == 0
    p There is no ads bro, but you can place the first ad :)
  else
  each ad in ads
    if !ad.reserved
      - var date = new Date
      .card
        .card-header
          a(href='/ad/'+ad._id)
            h3
              if(ad.shoes.gender === 'male')
                i.fa.fa-mars(style='color : deepSkyblue')
              else if (ad.shoes.gender === 'female')
                i.fa.fa-venus(style='color : pink')
              else
                i.fa.fa-neuter(style='color : black')
              | #{ad.title}
        .card-body
          .card-info
            h3 Size : #{ad.shoes.size}
          .card-info
            h3 #{ad.shoes.price} $ per day
          .card-info-img
            if ad.shoes.picture
              img(src="/uploads/"+ad.shoes.picture)
            else
              img(src="/uploads/no")

        .card-footer
          .card-footer-date
            if(ad.createdAt.getDay() == date.getDay())
              p
              if ad.createdAt.getMinutes() < 10
                | Today, #{ad.createdAt.getHours()}:0#{ad.createdAt.getMinutes()}
              else
                | Today, #{ad.createdAt.getHours()}:#{ad.createdAt.getMinutes()}
            else
              p #{ad.createdAt.toLocaleDateString()}
          .card-footer-location
            i.fa.fa-map-marker
            | #{ad.shoes.location}

  if pages
    nav()
      ul.pagination
        li.page-item
          if(current_page > 1)
            -var previous = current_page - 1
          else
            -var previous = 1
          a.page-link(href=url+'?page=' + previous) Previous
        - for(var i = 0; i < pages ; i++)
            - var page = i+1
            if current_page == page
              li.page-item.active
                a.page-link(href= url + '?page='+ page ) #{ i+1 }
            else
              li.page-item
                a.page-link(href= url + '?page=' + page ) #{ i + 1 }
        if(current_page === pages)
          -var next = current_page
        else
          -var next = current_page +1
        li.page-item
            a.page-link(href=url+'?page=' + next) Next